
*{font-family: 'Open Sans', sans-serif;
}

body {
  background-image: url(./img/Background_game.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: 1;
  width: 100%;
box-sizing:border-box;;
}
#body:before {
  content:'';
  position: absolute;
        top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.6);
}

h1 {
  color: whitesmoke;
}

h2{text-align: center;
color: whitesmoke;
}

p{
  color: whitesmoke;
}
input{
  color: whitesmoke;
}

#logo {
  justify-content: center;
  display: flex;
  /*width: 50%;*/
}

.logo_inicio{
  height: auto;
    width: 40%;
    padding-top: 1em;
}
.titulo {
  display: grid;
  grid-template-columns: 100%;
  text-align: center;
  padding: 1%;
  margin-bottom: 2%;
  display: flex;
  align-content: center;
  justify-content: center;
}
.botones_temas_caja {
  display: inline-block;
  grid-template-columns: 20% 20% 20%;
  /*grid-template-rows: 53vh;*/
  grid-template-rows: none;
  padding-top: 2%;
  grid-gap: 2%;
  /* display: flex; */
  justify-content: center;        
}

#botones_temas_futbol {
  margin: 2px 2px 2px 2px;
  border-radius: 4%;
  background-image: url(./img/Grupo13.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 380px;
  width: 261px;
  border-style: none;
  list-style: none;
}

#botones_temas_basket {
  margin: 2px 2px 2px 2px;
  border-radius: 4%;
  background-image: url(./img/Grupo12.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 380px;
  width: 261px;
  border-style: none;
  list-style: none;
}


#botones_temas_boxeo {
  margin: 2px 2px 2px 2px;
  border-radius: 4%;
  background-image: url(./img/Grupo14.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 380px;
  width: 261px;
  border-style: none;
  list-style: none;
}
.texto_jugar_caja {
  /*display: grid;
  grid-template-columns: 100%;
  text-align: center;
  padding: 2%;
  display: flex;
  align-content: center;
  justify-content: center;*/
  display: inline-block;
  justify-content: center;
  background: rgb(215, 255, 35, 0.3);
  color: white;
  width: 32%;
  margin-top: 2em;
  font-size: small;
  position: absolute;
  top: 511px;
  left: 36em;
  border-radius: 25px;
  border-color: rgb(255, 250, 250);
  font-weight: 600;
  letter-spacing: 2px;
}

/*.texto_jugar{
  background-color: yellowgreen;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 412px;
    padding: 1em;
  
}*/
.texto_inicio {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  text-align: center;
  padding: 1%;
  margin-bottom: 2%;
}

.contenedor_respuestas {
  display: grid;
  grid-template-columns: 5vh 1fr !important;
  grid-template-rows: 1fr 1fr;
  align-content: center;
  background: yellow;
  opacity: 0.45;
  text-justify: auto;
  font-size: larger;
  margin-left: 20%;
margin-right: 20%
}
.opcionesbotonradios{text-align: center;}
.boton_preguntas_validar {
  background:yellowgreen;
  font-size: xx-large;
      border-radius: 6%;
      color:rgb(53, 53, 53);
    opacity: 0.9;
}

.boton_salir {
  background:yellowgreen;
  font-size: xx-large;
    border-radius: 6%;
    color: rgb(53, 53, 53);
    opacity: 0.9;

}

.boton_validar {
  background:yellowgreen;
  font-size: xx-large;
      border-radius: 6%;
  }

.pop-up-bueno {
    position: absolute;
    text-align: center;
    left: 0px;
    right: 0;
    margin: auto;
    top: 28px;
    display: none;
    text-align: center;
    background: rgba(0, 0, 0, .9);
    padding: 1em 7em 7em 7em;
    position: fixed;
    width: 800px;
    height: 400px;
}

.pop-up-malo {
  position: absolute;
  text-align: center;
  left: 0px;
  right: 0;
  margin: auto;
  top: 28px;
  display: none;
  text-align: center;
  background: rgba(0, 0, 0, .9);
  padding: 1em 7em 7em 7em;
  position: fixed;
  width: 800px;
  height: 400px;
}
.validar{
  display: flex;
justify-content: space-evenly;
padding-inline: 30%;}



#toyPregunta {
  color: 
white;
border: 2px solid
  yellow;
  width: 16%;
  display: flex;
  float: inline-start;
  text-align: center;
  justify-content: center;
  margin-top: 23px;
}

#actual {
  color: white;
border: 2px solid
  yellow;
  width: 16%;
  display: flex;
  float: right;
  text-align: center;
  justify-content: center;
  margin-right: 1%;
}

.seleccione_respuesta_texto {
  text-align: center;
  border: 2px solid yellow;
  margin-left: 40%;
  margin-right: 40%;
  opacity: 0.9;
}
.puntostotales{
    text-align: center;
    border: 2px solid yellow;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 7%;
    color:whitesmoke;
    text-transform: uppercase;
}
.aprobadoAplazado{
  text-align: center;
  border: 2px solid yellow;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 7%;
  color: whitesmoke;
  text-transform: uppercase;
}

/* mas de jose*/

#aprobadoAplazado{
  display: flex ;
  justify-content: center;
  width: 400px;
  height: 200px;
  background-color: yellow;
  border-radius: 20px;
  font-size: 47px;
  font-weight: 800;
  padding: 1em;
  margin: 30px;
  }
  #puntototales{
    display: flex;
    justify-content: center;
    width: 400px;
    height: 200px;
    background-color: yellow;
    border-radius: 20px;
    font-size: 47px;
    font-weight: 800;
    padding: 1em;
    margin: 30px;
    }
      
    .box_texto_score {
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-size: 45px;
      color: white;
      font-weight: 700;
      margin: -44px;
      }
      #boton_salir2{
        background: yellowgreen;
        color: rgb(53, 53, 53);
        width: 15%;
        margin-top: 2em;
        font-size: 19px;
        position: absolute;
        top: 491px;
        left: 30em;
        border-radius: 145px;
        font-weight: 800;
        border: none;
        letter-spacing: 3px;
        }
        
        .full{
          display: flex;
          flex-direction: row;
          justify-content: center;
          }
 #cuestion{
  text-align: center;
  font-size: larger;
  color:
  white;
  }
          
/***********************************MOSTRAR-PANTALLA*****************************************/
/* .contenido{
    display:none;
}

.main.en-inicio #inicio{
    display:auto;
}

.main.en-preguntas #preguntas{
    display:auto;
}

.main.en-score #score{
    display:auto;
} */
/***********************************MOSTRAR-PANTALLA-FIN***************************************/
